[tool.poetry]
name = "renault-api"
version = "0.1.8"
description = "Renault API"
authors = ["epenet"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/hacf-fr/renault-api"
repository = "https://github.com/hacf-fr/renault-api"
documentation = "https://renault-api.readthedocs.io"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.urls]
Changelog = "https://github.com/hacf-fr/renault-api/releases"

[tool.poetry.dependencies]
python = "^3.7.1"
# Warning: as of 2020-11-19, aiohttp is pinned to 3.7.1 on HA-core
aiohttp = "^3.7.1"
# Warning: as of 2020-11-19, pyjwt is pinned to 1.7.1 on HA-core
pyjwt = ">=1.7.1,<3.0.0"
marshmallow-dataclass = "^8.2.0"
click = { version = "^8.0.1", optional = true }
tabulate = { version = "^0.8.7", optional = true }
dateparser = {version = "^1.0.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
coverage = {extras = ["toml"], version = "^6.3"}
safety = "^1.10.3"
mypy = "^0.931"
typeguard = "^2.13.3"
xdoctest = {extras = ["colors"], version = "^0.15.10"}
sphinx = "^4.3.2"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.17.0"
flake8 = "^4.0.1"
black = "^22.1"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^22.1.11"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.5"
pep8-naming = "^0.12.1"
darglint = "^1.8.1"
reorder-python-imports = "^2.7.1"
pre-commit-hooks = "^4.1.0"
sphinx-rtd-theme = "^1.0.0"
sphinx-click = "^3.0.3"
Pygments = "^2.11.2"
pytest-asyncio = "^0.17.2"
aioresponses = "^0.7.3"
pytest-cov = "^3.0.0"
#ensure urllib3 is greater than 1.26.5 to account for CVE-2021-33503
urllib3 = "^1.26.8"

[tool.poetry.extras]
cli = ["click", "tabulate", "dateparser"]

[tool.poetry.scripts]
renault-api = "renault_api.cli.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["renault_api"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
no_implicit_optional = true
no_implicit_reexport = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = 'aioresponses.*'
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
