[tool.poetry]
name = "renault-api"
version = "0.0.4"
description = "Renault API"
authors = ["epenet <dev@zeflip.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/hacf-fr/renault-api"
repository = "https://github.com/hacf-fr/renault-api"
documentation = "https://renault-api.readthedocs.io"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.urls]
Changelog = "https://github.com/hacf-fr/renault-api/releases"

[tool.poetry.dependencies]
python = "^3.7.1"
# Warning: as of 2020-11-19, aiohttp is pinned to 3.7.1 on HA-core
aiohttp = "^3.7.1"
# Warning: as of 2020-11-19, pyjwt is pinned to 1.7.1 on HA-core
pyjwt = "^1.7.1"
marshmallow-dataclass = "^8.2.0"
click = { version ="^7.0", optional = true }
tabulate = { version = "^0.8.7", optional = true }
dateparser = {version = "^1.0.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^6.2.1"
coverage = {extras = ["toml"], version = "^5.3"}
safety = "^1.10.1"
mypy = "^0.790"
typeguard = "^2.10.0"
xdoctest = {extras = ["colors"], version = "^0.15.0"}
sphinx = "^3.4.1"
sphinx-autobuild = "^2020.9.1"
pre-commit = "^2.9.3"
flake8 = "^3.8.4"
black = "^20.8b1"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^20.11.1"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.0.14"
pep8-naming = "^0.11.1"
darglint = "^1.5.8"
reorder-python-imports = "^2.3.6"
pre-commit-hooks = "^3.4.0"
sphinx-rtd-theme = "^0.5.0"
sphinx-click = "^2.5.0"
Pygments = "^2.7.3"
pytest-asyncio = "^0.14.0"
aioresponses = "^0.7.1"
pytest-cov = "^2.10.1"

[tool.poetry.extras]
cli = ["click", "tabulate", "dateparser"]

[tool.poetry.scripts]
renault-api = "renault_api.cli.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["renault_api"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
